ws-parent/ewdcInterface/src/main/webapp/wsdl/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schemas.org.prolector/ewdc/request"
	targetNamespace="http://schemas.org.prolector/ewdc/request"
	elementFormDefault="qualified">

	<element name="request">
		<complexType>
			<sequence>
				<element name="location1" type="tns:location"/>
				<element name="location2" type="tns:location"/>
			</sequence>
		</complexType>
	</element>
	
	<complexType name="location">
		<sequence>
			<element name="city" type="string"/>
			<element name="country" type="string"/>
		</sequence>
	</complexType>

</schema>